# Virtual Environment
venv/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Input folder
input/

# Output folder
output/

# Output folder
test/

# logs folder
logs/

# Pytest cache
.pytest_cache/
